$color-fondo: #cccccc;
$color-principal: #000000;
$color-tipografia-principal: #33ffc4;
$color-fondo-div: #222222;
$margen-principal: 50px 100px 50px 100px;
$padding-header: 10px 30px 10px 30px;
$box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

@mixin no-mostrar {
  display: none;
}

.no-mostrar {
  @include no-mostrar;
}

@mixin estilo-principal {
  margin: $margen-principal;
  border-radius: 40px;
  box-shadow: $box-shadow;
}

@mixin centrado {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin espaciado-buscador {
  padding: 15px;
  font-size: 25px;
}

body {
  background-color: $color-fondo;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-principal;
  @include estilo-principal;

  div {
    padding: $padding-header;
    img {
      width: 300px;
    }
    img:hover {
      cursor: pointer;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
      color: $color-tipografia-principal;
      font-size: 25px;
      padding: $padding-header;
    }

    li:hover {
      cursor: pointer;
      color: white;
    }
  }
}

/*-------------------------------------------
              SECCION INICIO
---------------------------------------------*/

.div-portada {
  @include estilo-principal;
  img {
    width: 100%;
    border-radius: 40px;
  }
}

/*-------------------------------------------
              FIN SECCION INICIO
---------------------------------------------*/

#banner {
  @include estilo-principal;
  img {
    width: 100%;
    border-radius: 40px;
  }
}

.buscador {
  @include estilo-principal;
  @include centrado;
  background-color: $color-principal;
  color: $color-tipografia-principal;
  p,
  input,
  img {
    margin: 8px;
    padding: 5px;
    font-size: 25px;
  }
}

.logo-banner {
  width: 50px;
}

/*-------------------------------------------
              SECCION PERSONAJES
---------------------------------------------*/
#div-personajes {
  @include estilo-principal;
  @include centrado;

  flex-wrap: wrap;
  background-color: $color-fondo-div;
}

.personaje {
  margin: 20px;
  padding: 15px;
  background-color: whitesmoke;
  color: #222222;
  border-radius: 20px;
}

.imagen-personaje {
  border-radius: 150px;
}

.nombre-personaje {
  @include centrado;
}

.subtitulos-personaje {
  font-weight: 800;
}

.genero,
.estado,
.origen {
  display: flex;
  justify-content: space-between;
}

.paginacion {
  @include centrado;
  @include estilo-principal;
  background-color: $color-principal;
}

button {
  border-bottom: none;
  border-style: none;
  margin: 10px;
  background-color: $color-principal;
  color: $color-tipografia-principal;
  i {
    font-size: 40px;
  }
  i:hover {
    cursor: pointer;
    color: $color-fondo-div;
  }
}

/*-------------------------------------------
              FIN SECCION PERSONAJES
---------------------------------------------*/

/*-------------------------------------------
              SECCION UBICACIONEES
---------------------------------------------*/
#div-ubicaciones {
  background-color: $color-fondo-div;
  @include estilo-principal;
  @include centrado;
  flex-wrap: wrap;
}

.ubicacion {
  margin: 20px;
  padding: 15px;
  background-color: whitesmoke;
  color: #222222;
  border-radius: 20px;
}

.imagen-ubicacion {
  width: 300px;
  height: 300px;
}

.nombre-origen {
  @include centrado;
}

.tipo,
.dimension,
.residentes {
  display: flex;
  justify-content: space-between;
}

.subtitulos-ubicacion {
  font-weight: 800;
}
/*-------------------------------------------
              FIN SECCION UBICACIONES
---------------------------------------------*/

/*-------------------------------------------
              SECCION EPISODIOS
---------------------------------------------*/
#div-episodios {
  background-color: $color-fondo-div;
  @include estilo-principal;
}
/*-------------------------------------------
              FIN SECCION EPISODIOS
---------------------------------------------*/
footer {
  @include estilo-principal;
  @include centrado;
  background-color: $color-principal;
  color: $color-tipografia-principal;
  font-size: 20px;
  font-weight: 800;
  flex-direction: column;
}
