.no-mostrar {
  display: none;
}

body {
  background-color: #cccccc;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  margin: 50px 100px 50px 100px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
header div {
  padding: 10px 30px 10px 30px;
}
header div img {
  width: 300px;
}
header div img:hover {
  cursor: pointer;
}
header ul {
  display: flex;
  justify-content: space-between;
}
header ul li {
  list-style: none;
  color: #33ffc4;
  font-size: 25px;
  padding: 10px 30px 10px 30px;
}
header ul li:hover {
  cursor: pointer;
  color: white;
}

/*-------------------------------------------
              SECCION INICIO
---------------------------------------------*/
.div-portada {
  margin: 50px 100px 50px 100px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.div-portada img {
  width: 100%;
  border-radius: 40px;
}

/*-------------------------------------------
              FIN SECCION INICIO
---------------------------------------------*/
#banner {
  margin: 50px 100px 50px 100px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#banner img {
  width: 100%;
  border-radius: 40px;
}

.buscador {
  margin: 50px 100px 50px 100px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #33ffc4;
}
.buscador p,
.buscador input,
.buscador img {
  margin: 8px;
  padding: 5px;
  font-size: 25px;
}

.logo-banner {
  width: 50px;
}

/*-------------------------------------------
              SECCION PERSONAJES
---------------------------------------------*/
#div-personajes {
  margin: 50px 100px 50px 100px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #222222;
}

.personaje {
  margin: 20px;
  padding: 15px;
  background-color: whitesmoke;
  color: #222222;
  border-radius: 20px;
}

.imagen-personaje {
  border-radius: 150px;
}

.nombre-personaje {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitulos-personaje {
  font-weight: 800;
}

.genero,
.estado,
.origen {
  display: flex;
  justify-content: space-between;
}

/*-------------------------------------------
              FIN SECCION PERSONAJES
---------------------------------------------*/
/*-------------------------------------------
              SECCION UBICACIONEES
---------------------------------------------*/
#div-ubicaciones {
  background-color: #222222;
  margin: 50px 100px 50px 100px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ubicacion {
  margin: 20px;
  padding: 15px;
  background-color: whitesmoke;
  color: #222222;
  border-radius: 20px;
}

.imagen-ubicacion {
  width: 300px;
  height: 300px;
}

.nombre-origen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tipo,
.dimension,
.residentes {
  display: flex;
  justify-content: space-between;
}

.subtitulos-ubicacion {
  font-weight: 800;
}

/*-------------------------------------------
              FIN SECCION UBICACIONES
---------------------------------------------*/
/*-------------------------------------------
              SECCION EPISODIOS
---------------------------------------------*/
#div-episodios {
  background-color: #222222;
  margin: 50px 100px 50px 100px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.episodio {
  margin: 20px;
  padding: 15px;
  background-color: whitesmoke;
  color: #222222;
  border-radius: 20px;
}

.imagen-episodio {
  width: 300px;
  height: 300px;
}

.nombre-episodio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.id,
.air-date,
.episode {
  display: flex;
  justify-content: space-between;
}

.subtitulos-episodio {
  font-weight: 800;
}

/*-------------------------------------------
              FIN SECCION EPISODIOS
---------------------------------------------*/
.paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 100px 50px 100px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #000000;
}

button {
  border-bottom: none;
  border-style: none;
  margin: 10px;
  background-color: #000000;
  color: #33ffc4;
}
button i {
  font-size: 40px;
}
button i:hover {
  cursor: pointer;
  color: #222222;
}

footer {
  margin: 50px 100px 50px 100px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #33ffc4;
  font-size: 20px;
  font-weight: 800;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
